<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>One-day or Day-one? You decide.</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>One day or #dayOne?</h1>
    <h3>You decide.</h3>

    <div id="application">
      <p>It all starts <strong>here</strong> and <strong>now</strong> or it does not start at all.</p>
      <div id="goals-grid-view">
        <table>
          <thead>
            <tr>
              <th v-for="key in showColumns">
                {{ key }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(value, key) in goals"
                    v-on:click="onRowClicked"
                    v-bind:id="key"
                    v-bind:class="{'selected': (selectedId === key)}">
              <td>#<input v-model="key" type="text"></td>
              <td>{{ prettyStreak(goals[key].streak) }}</td>
              <td>{{ humanizeCheckDate(key) }}</td>
              <td><button class="black-button" v-on:click="onDeleteClick" v-bind:id="key">x</button></td>
            </tr>
            <tr id="__new_entry__"
                v-bind:class="{'selected': (selectedId === '__new_entry__')}">
              <td>#<input v-model.trim="newEntry" @change="addNewGoal" type="text" placeholder="one_day" v-on:focus="selectedId = '__new_entry__'"></td>
              <td>--</td>
              <td>--</td>
              <td>&nbsp;&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="goal-detail-view">
        <p v-if="selectedId in goals">
          <table>
            <tr><td><h4>{{ "#"+selectedId }}</h4></td></tr>
            <tr><td>streak: {{ prettyStreak(goals[selectedId].streak) }}</td></tr>
            <tr><td>checked: {{ prettyCheckDate(selectedId) }}</td></tr>
            <tr><td><p v-if="wasCheckedToday(selectedId)">&#10004;</p></td></tr>
            <tr><td> <button v-on:click="onCheckClick">check today</button> </td></tr>
          </table>
        </p>
        <p v-else>Common, don't be shy. Type in something and press enter.</p>
      </div>
    </div>

    <script type = "text/javascript" src = "local_goals.js"></script>
    <script type = "text/javascript" src = "dayone_app.js"></script>
  </body>
</html>
